<!doctype html>
<html>
<head>
    <title>eZ Publish javascript REST-Client prototype</title>
    <link rel="icon" type="image/png" href="/bundles/jsrestclient/img/beaker.png"/>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.8.1/build/cssreset/cssreset-min.css"/>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.8.1/build/cssgrids/grids-min.css"/>
    {% stylesheets
    '@jsRestClientBundle/Resources/public/css/proto.css'
    '@jsRestClientBundle/Resources/public/css/sprites.css'
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>
<body>

<div class="container">
    <div class="header">
        eZ Publish javascript REST-Client prototype
    </div>
    <div class="yui3-g">
        <div class="yui3-u-1-2">
            <div class="sidebar">

                Client actions (click links to test):
                <br/><hr/>

                <div class="rest-test">
                    <a href="#root" id="root">List root resources</a>
                    <div id="root-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#load-section" id="load-section">Load single section with id =</a>
                    <input type="text" id="load-section-input" value="/api/ezp/v2/content/sections/1" />
                    <div id="load-section-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-sections" id="load-sections">Load sections list</a>
                    <div id="load-sections-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#create-section" id="create-section">Create test section</a>
                    <div id="create-section-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-section" id="update-section">Update (random data) section with id =</a>
                    <input type="text" id="update-section-input" value="/api/ezp/v2/content/sections/1" />
                    <div id="update-section-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delete-section" id="delete-section">Delete section with id =</a>
                    <input type="text" id="delete-section-input" value="/api/ezp/v2/content/sections/1" />
                    <div id="delete-section-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#load-contenttype-groups" id="load-contenttype-groups">Load Content Type groups</a>
                    <div id="load-contenttype-groups-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-contenttype-group" id="load-contenttype-group">Load Content Type group with id =</a>
                    <input type="text" id="load-contenttype-group-input" value="/api/ezp/v2/content/typegroups/1" />
                    <div id="load-contenttype-group-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-content" id="create-content">Create Content (random data)</a>
                    <div id="create-content-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-content-meta" id="update-content-meta">Update metadata for Content with id =</a>
                    <input type="text" id="update-content-meta-input" value="/api/ezp/v2/content/objects/102" />
                    <div id="update-content-meta-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-contentinfo" id="load-contentinfo">Load info for Content with id =</a>
                    <input type="text" id="load-contentinfo-input" value="/api/ezp/v2/content/objects/102" />
                    <div id="load-contentinfo-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#copy-content" id="copy-content">Copy Content with id =</a>
                    <input type="text" id="copy-content-input" value="/api/ezp/v2/content/objects/102" />
                    <div id="copy-content-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delete-content" id="delete-content">Delete Content with id =</a>
                    <input type="text" id="delete-content-input" value="/api/ezp/v2/content/objects/116" />
                    <div id="delete-content-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#load-contentcurrent" id="load-contentcurrent">Load info & current version for Content with id =</a>
                    <input type="text" id="load-contentcurrent-input" value="/api/ezp/v2/content/objects/102" />
                    <div id="load-contentcurrent-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-contentversions" id="load-contentversions">Load versions list for a Content:</a>
                    <input type="text" id="load-contentversions-input" value="/api/ezp/v2/content/objects/102/versions" />
                    <div id="load-contentversions-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-content" id="load-content">Load exact version for the Content: </a>
                    <input type="text" id="load-content-input" value="/api/ezp/v2/content/objects/102/versions/1" />
                    <div id="load-content-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-content" id="update-content">Update (random data) draft: </a>
                    <input type="text" id="update-content-input" value="/api/ezp/v2/content/objects/102/versions/1" />
                    <div id="update-content-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#create-content-draft" id="create-content-draft">Create draft from exact version of the Content: </a>
                    <input type="text" id="create-content-draft-input" value="/api/ezp/v2/content/objects/102/versions/1" />
                    <div id="create-content-draft-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delete-version" id="delete-version">Delete exact version of the Content: </a>
                    <input type="text" id="delete-version-input" value="/api/ezp/v2/content/objects/102/versions/1" />
                    <div id="delete-version-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#publish-version" id="publish-version">Publish exact version of the Content: </a>
                    <input type="text" id="publish-version-input" value="/api/ezp/v2/content/objects/102/versions/1" />
                    <div id="publish-version-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#new-content-update-struct" id="new-content-update-struct">Get update structure for Content and populate it with random data</a>
                </div>

                <div class="rest-test">
                    <a href="#new-content-meta-update-struct" id="new-content-meta-update-struct">Get update structure for Content metadata and populate it with random data</a>
                </div>

                <div class="rest-test">
                    <a href="#new-content-create-struct" id="new-content-create-struct">Get create structure for Content</a>
                </div>

                <div class="rest-test">
                    <a href="#new-location-create-struct" id="new-location-create-struct">Get create structure for Location</a>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-location" id="create-location">Create new location for content:</a>
                    <input type="text" id="create-location-input" value="/api/ezp/v2/content/objects/102/locations" />
                    <div id="create-location-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-locations" id="load-locations">Load locations for content:</a>
                    <input type="text" id="load-locations-input" value="/api/ezp/v2/content/objects/102/locations" />
                    <div id="load-locations-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-location" id="load-location">Load location by id:</a>
                    <input type="text" id="load-location-input" value="/api/ezp/v2/content/locations/1/2/102" />
                    <div id="load-location-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#copy-subtree" id="copy-subtree">Copy a subtree into:</a>
                    <input type="text" id="copy-subtree-input" value="/api/ezp/v2/content/locations/1/2/102" />
                    <div id="copy-subtree-loader" class="ajax-loader"></div>
                </div>


            </div>
        </div>
        <div class="yui3-u-1-2">
            <div class="content">

                Client output:
                <br/><hr/>

                <div id="output"></div>

            </div>
        </div>
    </div>
</div>



{% javascripts
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/ContentCreateStruct.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/ContentUpdateStruct.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/ContentMetadataUpdateStruct.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/LocationCreateStruct.js'

    '@jsRestClientBundle/Resources/public/js/REST-client/services/ContentService.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/connections/XmlHttpRequestConnection.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/connections/MicrosoftXmlHttpRequestConnection.js'

    '@jsRestClientBundle/Resources/public/js/REST-client/ConnectionFeatureFactory.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/ConnectionManager.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/CAPI.js'

    '@jsRestClientBundle/Resources/public/js/testCAPI.js'
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            