<!doctype html>
<html>
<head>
    <title>eZ Publish javascript REST-Client prototype</title>
    <link rel="icon" type="image/png" href="/bundles/jsrestclient/img/beaker.png"/>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.8.1/build/cssreset/cssreset-min.css"/>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.8.1/build/cssgrids/grids-min.css"/>
    {% stylesheets
    '@jsRestClientBundle/Resources/public/css/proto.css'
    '@jsRestClientBundle/Resources/public/css/sprites.css'
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>
<body>

<div class="container">
    <div class="header">
        eZ Publish javascript REST-Client prototype
    </div>
    <div class="yui3-g">
        <div class="yui3-u-1-2">
            <div class="sidebar">

                <strong>Client actions (click links to test):</strong>
                <br/><hr/>

                <div class="rest-test">
                    <a href="#root" id="root">List root resources</a>
                    <div id="root-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#load-section" id="load-section">Load single section with id =</a>
                    <input type="text" id="load-section-input" value="/api/ezp/v2/content/sections/1" />
                    <div id="load-section-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-sections" id="load-sections">Load sections list</a>
                    <div id="load-sections-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#create-section" id="create-section">Create test section</a>
                    <div id="create-section-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-section" id="update-section">Update (random data) section with id =</a>
                    <input type="text" id="update-section-input" value="/api/ezp/v2/content/sections/1" />
                    <div id="update-section-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delete-section" id="delete-section">Delete section with id =</a>
                    <input type="text" id="delete-section-input" value="/api/ezp/v2/content/sections/1" />
                    <div id="delete-section-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-content" id="create-content">Create Content (random data)</a>
                    <div id="create-content-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-content-meta" id="update-content-meta">Update metadata for Content with id =</a>
                    <input type="text" id="update-content-meta-input" value="/api/ezp/v2/content/objects/102" />
                    <div id="update-content-meta-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-contentinfo" id="load-contentinfo">Load info for Content with id =</a>
                    <input type="text" id="load-contentinfo-input" value="/api/ezp/v2/content/objects/102" />
                    <div id="load-contentinfo-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#copy-content" id="copy-content">Copy Content with id =</a>
                    <input type="text" id="copy-content-input" value="/api/ezp/v2/content/objects/102" />
                    <div id="copy-content-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delete-content" id="delete-content">Delete Content with id =</a>
                    <input type="text" id="delete-content-input" value="/api/ezp/v2/content/objects/116" />
                    <div id="delete-content-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#load-contentcurrent" id="load-contentcurrent">Load info & current version for Content with id =</a>
                    <input type="text" id="load-contentcurrent-input" value="/api/ezp/v2/content/objects/102" />
                    <div id="load-contentcurrent-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-contentversions" id="load-contentversions">Load versions list for a Content:</a>
                    <input type="text" id="load-contentversions-input" value="/api/ezp/v2/content/objects/102/versions" />
                    <div id="load-contentversions-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-content" id="load-content">Load exact version for the Content: </a>
                    <input type="text" id="load-content-input" value="/api/ezp/v2/content/objects/102/versions/1" />
                    <div id="load-content-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-content" id="update-content">Update (random data) draft: </a>
                    <input type="text" id="update-content-input" value="/api/ezp/v2/content/objects/102/versions/1" />
                    <div id="update-content-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#create-content-draft" id="create-content-draft">Create draft from exact version of the Content: </a>
                    <input type="text" id="create-content-draft-input" value="/api/ezp/v2/content/objects/102/versions/1" />
                    <div id="create-content-draft-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delete-version" id="delete-version">Delete exact version of the Content: </a>
                    <input type="text" id="delete-version-input" value="/api/ezp/v2/content/objects/102/versions/1" />
                    <div id="delete-version-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#publish-version" id="publish-version">Publish exact version of the Content: </a>
                    <input type="text" id="publish-version-input" value="/api/ezp/v2/content/objects/102/versions/1" />
                    <div id="publish-version-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#new-content-update-struct" id="new-content-update-struct">Get update structure for Content and populate it with random data</a>
                </div>

                <div class="rest-test">
                    <a href="#new-content-meta-update-struct" id="new-content-meta-update-struct">Get update structure for Content metadata and populate it with random data</a>
                </div>

                <div class="rest-test">
                    <a href="#new-content-create-struct" id="new-content-create-struct">Get create structure for Content</a>
                </div>

                <div class="rest-test">
                    <a href="#new-location-create-struct" id="new-location-create-struct">Get create structure for Location</a>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-location" id="create-location">Create new location for content:</a>
                    <input type="text" id="create-location-input" value="/api/ezp/v2/content/objects/107/locations" />
                    <div id="create-location-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-location" id="update-location">Update location (random data):</a>
                    <input type="text" id="update-location-input" value="/api/ezp/v2/content/locations/1/2/102" />
                    <div id="update-location-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-locations" id="load-locations">Load locations for content:</a>
                    <input type="text" id="load-locations-input" value="/api/ezp/v2/content/objects/102/locations" />
                    <div id="load-locations-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-location" id="load-location">Load location by id:</a>
                    <input type="text" id="load-location-input" value="/api/ezp/v2/content/locations/1/2/102" />
                    <div id="load-location-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-location" id="load-location-children">Load location children:</a>
                    <input type="text" id="load-location-children-input" value="/api/ezp/v2/content/locations/1/2/102" />
                    <div id="load-location-children-loader" class="ajax-loader"></div>
                </div>


                <div class="rest-test">
                    <a href="#load-location-by-remote" id="load-location-by-remote">Load location by remote id:</a>
                    <input type="text" id="load-location-by-remote-input" value="0bae96bd419e141ff3200ccbf2822e4f" />
                    <div id="load-location-by-remote-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#copy-subtree" id="copy-subtree">Copy a subtree into:</a>
                    <input type="text" id="copy-subtree-input" value="/api/ezp/v2/content/locations/1/2/102" />
                    <div id="copy-subtree-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#move-subtree" id="move-subtree">Move a subtree into:</a>
                    <input type="text" id="move-subtree-input" value="/api/ezp/v2/content/locations/1/2/102" />
                    <div id="move-subtree-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#copy-subtree" id="swap-location">Swap locations:</a>
                    <input type="text" id="swap-location-input" value="/api/ezp/v2/content/locations/1/2/102" />
                    <div id="swap-location-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delte-location" id="delete-location">Delete location:</a>
                    <input type="text" id="delete-location-input" value="/api/ezp/v2/content/locations/1/2/116" />
                    <div id="delete-location-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-view" id="create-view">Create a view (random data)</a>
                    <div id="create-view-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#load-relations" id="load-relations">Load relations list for a content version</a>
                    <div id="load-relations-loader" class="ajax-loader"></div>
                    <input type="text" id="load-relations-input" value="/api/ezp/v2/content/objects/102/versions/5" />
                </div>

                <div class="rest-test">
                    <a href="#load-relation" id="load-relation">Load a relation with Id:</a>
                    <div id="load-relation-loader" class="ajax-loader"></div>
                    <input type="text" id="load-relation-input" value="/api/ezp/v2/content/objects/102/versions/5/relations/1" />
                </div>

                <div class="rest-test">
                    <a href="#create-relation" id="create-relation">Creation relation for a version:</a>
                    <div id="create-relation-loader" class="ajax-loader"></div>
                    <input type="text" id="create-relation-input" value="/api/ezp/v2/content/objects/102/versions/5" />
                </div>

                <div class="rest-test">
                    <a href="#delete-relation" id="delete-relation">Delete relation with Id:</a>
                    <div id="delete-relation-loader" class="ajax-loader"></div>
                    <input type="text" id="delete-relation-input" value="/api/ezp/v2/content/objects/102/versions/5/relations/2" />
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#load-trash-items" id="load-trash-items">Load all the trash items</a>
                    <div id="load-trash-items-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-trash-item" id="load-trash-item">Load a single trash item</a>
                    <div id="load-trash-item-loader" class="ajax-loader"></div>
                    <input type="text" id="load-trash-item-input" value="/api/ezp/v2/content/trash/1" />
                </div>

                <div class="rest-test">
                    <a href="#load-trash-items" id="recover-trash-item">Recover trash item</a>
                    <div id="recover-trash-item-loader" class="ajax-loader"></div>
                    <input type="text" id="recover-trash-item-input" value="/api/ezp/v2/content/trash/1" />
                </div>

                <div class="rest-test">
                    <a href="#load-trash-items" id="delete-trash-item">Delete trash item</a>
                    <div id="delete-trash-item-loader" class="ajax-loader"></div>
                    <input type="text" id="delete-trash-item-input" value="/api/ezp/v2/content/trash/1" />
                </div>

                <div class="rest-test">
                    <a href="#empty-trash" id="empty-trash">Empty trash can</a>
                    <div id="empty-trash-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-object-state-group" id="create-object-state-group">Create an Object State group (random data)</a>
                    <div id="create-object-state-group-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-object-state-group" id="update-object-state-group">Update an Object State group (random data)</a>
                    <div id="update-object-state-group-loader" class="ajax-loader"></div>
                    <input type="text" id="update-object-state-group-input" value="/api/ezp/v2/content/objectstategroups/2" />
                </div>


                <div class="rest-test">
                    <a href="#load-object-state-groups" id="load-object-state-groups">Load Object State groups list</a>
                    <div id="load-object-state-groups-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-object-state-group" id="load-object-state-group">Load an Object State group with id:</a>
                    <div id="load-object-state-group-loader" class="ajax-loader"></div>
                    <input type="text" id="load-object-state-group-input" value="/api/ezp/v2/content/objectstategroups/2" />
                </div>

                <div class="rest-test">
                    <a href="#delete-object-state-group" id="delete-object-state-group">Delete an Object State group with id:</a>
                    <div id="delete-object-state-group-loader" class="ajax-loader"></div>
                    <input type="text" id="delete-object-state-group-input" value="/api/ezp/v2/content/objectstategroups/4" />
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#delete-object-state" id="load-object-state">Load the Object State:</a>
                    <div id="load-object-state-loader" class="ajax-loader"></div>
                    <input type="text" id="load-object-state-input" value="/api/ezp/v2/content/objectstategroups/7/objectstates/5" />
                </div>

                <div class="rest-test">
                    <a href="#update-object-state" id="update-object-state">Update the Object State (random data):</a>
                    <div id="update-object-state-loader" class="ajax-loader"></div>
                    <input type="text" id="update-object-state-input" value="/api/ezp/v2/content/objectstategroups/7/objectstates/5" />
                </div>

                <div class="rest-test">
                    <a href="#delete-object-state" id="delete-object-state">Delete the Object State:</a>
                    <div id="delete-object-state-loader" class="ajax-loader"></div>
                    <input type="text" id="delete-object-state-input" value="/api/ezp/v2/content/objectstategroups/7/objectstates/5" />
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-url-alias" id="create-url-alias">Create an URL Alias for resource:</a>
                    <div id="create-url-alias-loader" class="ajax-loader"></div>
                    <input type="text" id="create-url-alias-input" value="/api/ezp/v2/content/locations/1/2/113" />
                </div>

                <div class="rest-test">
                    <a href="#list-global-aliases" id="list-global-aliases">List global URL Aliases</a>
                    <div id="list-global-aliases-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#list-location-aliases" id="list-location-aliases">List location URL Aliases:</a>
                    <div id="list-location-aliases-loader" class="ajax-loader"></div>
                    <input type="text" id="list-location-aliases-input" value="/api/ezp/v2/content/locations/1/2/113" />
                </div>

                <div class="rest-test">
                    <a href="#load-url-alias" id="load-url-alias">Load URL Alias</a>
                    <div id="load-url-alias-loader" class="ajax-loader"></div>
                    <input type="text" id="load-url-alias-input" value="/api/ezp/v2/content/urlaliases/0-a903c03b86eb2987889afa5fe17004eb" />
                </div>

                <div class="rest-test">
                    <a href="#delete-url-alias" id="delete-url-alias">Delete URL Alias:</a>
                    <div id="delete-url-alias-loader" class="ajax-loader"></div>
                    <input type="text" id="delete-url-alias-input" value="/api/ezp/v2/content/urlaliases/0-a903c03b86eb2987889afa5fe17004eb" />
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-url-wildcard" id="create-url-wildcard">Create an URL Wildcard for resource:</a>
                    <div id="create-url-wildcard-loader" class="ajax-loader"></div>
                    <input type="text" id="create-url-wildcard-input" value="/api/ezp/v2/content/locations/1/2/113" />
                </div>

                <div class="rest-test">
                    <a href="#load-url-wildcards" id="load-url-wildcards">Load URL Wildcards</a>
                    <div id="load-url-wildcards-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-url-wildcard" id="load-url-wildcard">Load URL Wildcard:</a>
                    <div id="load-url-wildcard-loader" class="ajax-loader"></div>
                    <input type="text" id="load-url-wildcard-input" value="/api/ezp/v2/content/urlwildcards/1" />
                </div>

                <div class="rest-test">
                    <a href="#delete-url-wildcard" id="delete-url-wildcard">Delete URL Wildcard:</a>
                    <div id="delete-url-wildcard-loader" class="ajax-loader"></div>
                    <input type="text" id="delete-url-wildcard-input" value="/api/ezp/v2/content/urlwildcards/2" />
                </div>

                <hr/>
                <hr/>
                <hr/>

                <div class="rest-test">
                    <a href="#create-contenttype-group" id="create-contenttype-group">Create Content Type group</a>
                    <div id="create-contenttype-group-loader" class="ajax-loader"></div>
                </div>


                <div class="rest-test">
                    <a href="#load-contenttype-groups" id="load-contenttype-groups">Load Content Type groups</a>
                    <div id="load-contenttype-groups-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-contenttype-group" id="load-contenttype-group">Load Content Type group with id =</a>
                    <input type="text" id="load-contenttype-group-input" value="/api/ezp/v2/content/typegroups/1" />
                    <div id="load-contenttype-group-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-contenttype-group" id="update-contenttype-group">Update Content Type group (random data):</a>
                    <input type="text" id="update-contenttype-group-input" value="/api/ezp/v2/content/typegroups/5" />
                    <div id="update-contenttype-group-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delete-contenttype-group" id="delete-contenttype-group">Delete Content Type group (random data):</a>
                    <input type="text" id="delete-contenttype-group-input" value="/api/ezp/v2/content/typegroups/18" />
                    <div id="delete-contenttype-group-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-contenttype-group" id="load-content-types">Load Content Types for a group:</a>
                    <input type="text" id="load-content-types-input" value="/api/ezp/v2/content/typegroups/18" />
                    <div id="load-content-types-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-content-type" id="create-content-type">Create Content Type</a>
                    <div id="create-content-type-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#copy-content-type" id="copy-content-type">Copy Content Type</a>
                    <input type="text" id="copy-content-type-input" value="/api/ezp/v2/content/types/18" />
                    <div id="copy-content-type-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-content-type" id="load-content-type">Load Content Type</a>
                    <input type="text" id="load-content-type-input" value="/api/ezp/v2/content/types/18" />
                    <div id="load-content-type-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-content-type-by-identifier" id="load-content-type-by-identifier">Load Content Type by identifier</a>
                    <input type="text" id="load-content-type-by-identifier-input" value="blog_post" />
                    <div id="load-content-type-by-identifier-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#create-content-type-draft" id="create-content-type-draft">Create draft for the Content Type:</a>
                    <input type="text" id="create-content-type-draft-input" value="/api/ezp/v2/content/types/18" />
                    <div id="create-content-type-draft-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-content-type-draft" id="load-content-type-draft">Load draft for the Content Type:</a>
                    <input type="text" id="load-content-type-draft-input" value="/api/ezp/v2/content/types/18" />
                    <div id="load-content-type-draft-loader" class="ajax-loader"></div>
                </div>


                <div class="rest-test">
                    <a href="#update-content-type-draft" id="update-content-type-draft">Update draft for the Content Type:</a>
                    <input type="text" id="update-content-type-draft-input" value="/api/ezp/v2/content/types/18/draft" />
                    <div id="update-content-type-draft-loader" class="ajax-loader"></div>
                </div>

            </div>
        </div>
        <div class="yui3-u-1-2">
            <div class="content">
                <div class="content-inner">

                    <strong>Client output:</strong>
                    <br/><hr/>

                    <div id="output"></div>

                </div>
            </div>
        </div>
    </div>
</div>



{% javascripts
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/ContentCreateStruct.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/ContentUpdateStruct.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/ContentMetadataUpdateStruct.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/LocationCreateStruct.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/LocationUpdateStruct.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/SessionCreateStruct.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/ViewCreateStruct.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/RelationCreateStruct.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/ObjectStateGroupCreateStruct.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/ObjectStateGroupUpdateStruct.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/ObjectStateUpdateStruct.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/UrlAliasCreateStruct.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/UrlWildcardCreateStruct.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/ContentTypeGroupInputStruct.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/ContentTypeCreateStruct.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/ContentTypeUpdateStruct.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/FieldDefinitionCreateStruct.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/Request.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/Response.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/structures/Error.js'

    '@jsRestClientBundle/Resources/public/js/REST-client/services/DiscoveryService.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/services/ContentService.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/services/ContentTypeService.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/services/UserService.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/connections/XmlHttpRequestConnection.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/connections/MicrosoftXmlHttpRequestConnection.js'

    '@jsRestClientBundle/Resources/public/js/REST-client/authAgents/HttpBasicAuthAgent.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/authAgents/SessionAuthAgent.js'

    '@jsRestClientBundle/Resources/public/js/REST-client/ConnectionFeatureFactory.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/ConnectionManager.js'
    '@jsRestClientBundle/Resources/public/js/REST-client/CAPI.js'

    '@jsRestClientBundle/Resources/public/js/testCAPI.js'
    '@jsRestClientBundle/Resources/public/js/testCAPI-ContentTypeService.js'
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            