<!doctype html>
<html>
<head>
    <title>eZ Publish javascript REST-Client prototype</title>
    <link rel="icon" type="image/png" href="/bundles/jsrestclient/img/beaker.png"/>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.8.1/build/cssreset/cssreset-min.css"/>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.8.1/build/cssgrids/grids-min.css"/>
    {% stylesheets
    '@jsRestClientBundle/Resources/public/css/proto.css'
    '@jsRestClientBundle/Resources/public/css/sprites.css'
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>
<body>

<div class="container">
    <div class="header">
        eZ Publish javascript REST-Client prototype
    </div>
    <div class="yui3-g">
        <div class="yui3-u-1-2">
            <div class="sidebar">

                <strong>Client actions (click links to test):</strong>
                <br/><hr/>

                <div class="rest-test">
                    <a href="#root" id="root">List root resources</a>
                    <div id="root-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#load-section" id="load-section">Load single section with id =</a>
                    <input type="text" id="load-section-input" value="/api/ezp/v2/content/sections/1" />
                    <div id="load-section-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-sections" id="load-sections">Load sections list</a>
                    <div id="load-sections-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#create-section" id="create-section">Create test section</a>
                    <div id="create-section-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-section" id="update-section">Update (random data) section with id =</a>
                    <input type="text" id="update-section-input" value="/api/ezp/v2/content/sections/1" />
                    <div id="update-section-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delete-section" id="delete-section">Delete section with id =</a>
                    <input type="text" id="delete-section-input" value="/api/ezp/v2/content/sections/1" />
                    <div id="delete-section-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-content" id="create-content">Create Content (random data)</a>
                    <div id="create-content-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-content-meta" id="update-content-meta">Update metadata for Content with id =</a>
                    <input type="text" id="update-content-meta-input" value="/api/ezp/v2/content/objects/102" />
                    <div id="update-content-meta-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-contentinfo" id="load-contentinfo">Load info for Content with id =</a>
                    <input type="text" id="load-contentinfo-input" value="/api/ezp/v2/content/objects/102" />
                    <div id="load-contentinfo-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#copy-content" id="copy-content">Copy Content with id =</a>
                    <input type="text" id="copy-content-input" value="/api/ezp/v2/content/objects/102" />
                    <div id="copy-content-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delete-content" id="delete-content">Delete Content with id =</a>
                    <input type="text" id="delete-content-input" value="/api/ezp/v2/content/objects/116" />
                    <div id="delete-content-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-content-by-remote-id" id="load-content-by-remote-id">Load a Content with remoteId =</a>
                    <input type="text" id="load-content-by-remote-id-input" value="30847bec12a8a398777493a4bdb10398" />
                    <div id="load-content-by-remote-id-loader" class="ajax-loader"></div>
                </div>


                <hr/>

                <div class="rest-test">
                    <a href="#load-contentcurrent" id="load-contentcurrent">Load info & current version for Content with id =</a>
                    <input type="text" id="load-contentcurrent-input" value="/api/ezp/v2/content/objects/102" />
                    <div id="load-contentcurrent-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-contentversions" id="load-contentversions">Load versions list for a Content:</a>
                    <input type="text" id="load-contentversions-input" value="/api/ezp/v2/content/objects/102" />
                    <div id="load-contentversions-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-current-version" id="load-current-version">Load current version for the Content</a>
                    <div id="load-current-version-loader" class="ajax-loader"></div>
                    <input type="text" id="load-current-version-input" value="/api/ezp/v2/content/objects/102" />
                </div>

                <div class="rest-test">
                    <a href="#load-content" id="load-content">Load exact version for the Content: </a>
                    <input type="text" id="load-content-input" value="/api/ezp/v2/content/objects/102/versions/1" />
                    <div id="load-content-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-content" id="update-content">Update (random data) draft: </a>
                    <input type="text" id="update-content-input" value="/api/ezp/v2/content/objects/102/versions/1" />
                    <div id="update-content-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#create-content-draft" id="create-content-draft">Create draft from exact version of the Content: </a>
                    <input type="text" id="create-content-draft-input" value="/api/ezp/v2/content/objects/107" />
                    <div id="create-content-draft-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delete-version" id="delete-version">Delete exact version of the Content: </a>
                    <input type="text" id="delete-version-input" value="/api/ezp/v2/content/objects/102/versions/1" />
                    <div id="delete-version-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#publish-version" id="publish-version">Publish exact version of the Content: </a>
                    <input type="text" id="publish-version-input" value="/api/ezp/v2/content/objects/102/versions/1" />
                    <div id="publish-version-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#new-content-update-struct" id="new-content-update-struct">Get update structure for Content and populate it with random data</a>
                </div>

                <div class="rest-test">
                    <a href="#new-content-meta-update-struct" id="new-content-meta-update-struct">Get update structure for Content metadata and populate it with random data</a>
                </div>

                <div class="rest-test">
                    <a href="#new-content-create-struct" id="new-content-create-struct">Get create structure for Content</a>
                </div>

                <div class="rest-test">
                    <a href="#new-location-create-struct" id="new-location-create-struct">Get create structure for Location</a>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-location" id="create-location">Create new location for content:</a>
                    <input type="text" id="create-location-input" value="/api/ezp/v2/content/objects/107" />
                    <div id="create-location-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-location" id="update-location">Update location (random data):</a>
                    <input type="text" id="update-location-input" value="/api/ezp/v2/content/locations/1/2/102" />
                    <div id="update-location-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-locations" id="load-locations">Load locations for content:</a>
                    <input type="text" id="load-locations-input" value="/api/ezp/v2/content/objects/107" />
                    <div id="load-locations-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-location" id="load-location">Load location by id:</a>
                    <input type="text" id="load-location-input" value="/api/ezp/v2/content/locations/1/2/102" />
                    <div id="load-location-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-location" id="load-location-children">Load location children:</a>
                    <input type="text" id="load-location-children-input" value="/api/ezp/v2/content/locations/1/2/102" />
                    <div id="load-location-children-loader" class="ajax-loader"></div>
                </div>


                <div class="rest-test">
                    <a href="#load-location-by-remote" id="load-location-by-remote">Load location by remote id:</a>
                    <input type="text" id="load-location-by-remote-input" value="0bae96bd419e141ff3200ccbf2822e4f" />
                    <div id="load-location-by-remote-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#copy-subtree" id="copy-subtree">Copy a subtree into:</a>
                    <input type="text" id="copy-subtree-input" value="/api/ezp/v2/content/locations/1/2/102" />
                    <div id="copy-subtree-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#move-subtree" id="move-subtree">Move a subtree into:</a>
                    <input type="text" id="move-subtree-input" value="/api/ezp/v2/content/locations/1/2/102" />
                    <div id="move-subtree-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#copy-subtree" id="swap-location">Swap locations:</a>
                    <input type="text" id="swap-location-input" value="/api/ezp/v2/content/locations/1/2/102" />
                    <div id="swap-location-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delte-location" id="delete-location">Delete location:</a>
                    <input type="text" id="delete-location-input" value="/api/ezp/v2/content/locations/1/2/116" />
                    <div id="delete-location-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-view" id="create-view">Create a view (random data)</a>
                    <div id="create-view-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#load-current-relations" id="load-current-relations">Load relations list for the content current version</a>
                    <div id="load-current-relations-loader" class="ajax-loader"></div>
                    <input type="text" id="load-current-relations-input" value="/api/ezp/v2/content/objects/102" />
                </div>

                <div class="rest-test">
                    <a href="#load-relations" id="load-relations">Load relations list for a content version</a>
                    <div id="load-relations-loader" class="ajax-loader"></div>
                    <input type="text" id="load-relations-input" value="/api/ezp/v2/content/objects/102/versions/5" />
                </div>

                <div class="rest-test">
                    <a href="#load-relation" id="load-relation">Load a relation with Id:</a>
                    <div id="load-relation-loader" class="ajax-loader"></div>
                    <input type="text" id="load-relation-input" value="/api/ezp/v2/content/objects/102/versions/5/relations/1" />
                </div>

                <div class="rest-test">
                    <a href="#create-relation" id="create-relation">Create relation for a version:</a>
                    <div id="create-relation-loader" class="ajax-loader"></div>
                    <input type="text" id="create-relation-input" value="/api/ezp/v2/content/objects/102/versions/5" />
                </div>

                <div class="rest-test">
                    <a href="#delete-relation" id="delete-relation">Delete relation with Id:</a>
                    <div id="delete-relation-loader" class="ajax-loader"></div>
                    <input type="text" id="delete-relation-input" value="/api/ezp/v2/content/objects/102/versions/5/relations/2" />
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#load-trash-items" id="load-trash-items">Load all the trash items</a>
                    <div id="load-trash-items-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-trash-item" id="load-trash-item">Load a single trash item</a>
                    <div id="load-trash-item-loader" class="ajax-loader"></div>
                    <input type="text" id="load-trash-item-input" value="/api/ezp/v2/content/trash/1" />
                </div>

                <div class="rest-test">
                    <a href="#load-trash-items" id="recover-trash-item">Recover trash item</a>
                    <div id="recover-trash-item-loader" class="ajax-loader"></div>
                    <input type="text" id="recover-trash-item-input" value="/api/ezp/v2/content/trash/1" />
                </div>

                <div class="rest-test">
                    <a href="#load-trash-items" id="delete-trash-item">Delete trash item</a>
                    <div id="delete-trash-item-loader" class="ajax-loader"></div>
                    <input type="text" id="delete-trash-item-input" value="/api/ezp/v2/content/trash/1" />
                </div>

                <div class="rest-test">
                    <a href="#empty-trash" id="empty-trash">Empty trash can</a>
                    <div id="empty-trash-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-object-state-group" id="create-object-state-group">Create an Object State group (random data)</a>
                    <div id="create-object-state-group-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-object-state-group" id="update-object-state-group">Update an Object State group (random data)</a>
                    <div id="update-object-state-group-loader" class="ajax-loader"></div>
                    <input type="text" id="update-object-state-group-input" value="/api/ezp/v2/content/objectstategroups/2" />
                </div>


                <div class="rest-test">
                    <a href="#load-object-state-groups" id="load-object-state-groups">Load Object State groups list</a>
                    <div id="load-object-state-groups-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-object-state-group" id="load-object-state-group">Load an Object State group with id:</a>
                    <div id="load-object-state-group-loader" class="ajax-loader"></div>
                    <input type="text" id="load-object-state-group-input" value="/api/ezp/v2/content/objectstategroups/2" />
                </div>

                <div class="rest-test">
                    <a href="#delete-object-state-group" id="delete-object-state-group">Delete an Object State group with id:</a>
                    <div id="delete-object-state-group-loader" class="ajax-loader"></div>
                    <input type="text" id="delete-object-state-group-input" value="/api/ezp/v2/content/objectstategroups/4" />
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-object-state" id="create-object-state">Create an Object State in the group:</a>
                    <div id="create-object-state-loader" class="ajax-loader"></div>
                    <input type="text" id="create-object-state-input" value="/api/ezp/v2/content/objectstategroups/8" />
                </div>


                <div class="rest-test">
                    <a href="#load-object-state" id="load-object-state">Load the Object State:</a>
                    <div id="load-object-state-loader" class="ajax-loader"></div>
                    <input type="text" id="load-object-state-input" value="/api/ezp/v2/content/objectstategroups/7/objectstates/5" />
                </div>

                <div class="rest-test">
                    <a href="#update-object-state" id="update-object-state">Update the Object State (random data):</a>
                    <div id="update-object-state-loader" class="ajax-loader"></div>
                    <input type="text" id="update-object-state-input" value="/api/ezp/v2/content/objectstategroups/7/objectstates/5" />
                </div>

                <div class="rest-test">
                    <a href="#delete-object-state" id="delete-object-state">Delete the Object State:</a>
                    <div id="delete-object-state-loader" class="ajax-loader"></div>
                    <input type="text" id="delete-object-state-input" value="/api/ezp/v2/content/objectstategroups/7/objectstates/5" />
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#get-content-state" id="get-content-state">Get a Content State:</a>
                    <div id="get-content-state-loader" class="ajax-loader"></div>
                    <input type="text" id="get-content-state-input" value="/api/ezp/v2/content/objects/17/objectstates" />
                </div>

                <div class="rest-test">
                    <a href="#set-content-state" id="set-content-state">Set a Content State (random data):</a>
                    <div id="set-content-state-loader" class="ajax-loader"></div>
                    <input type="text" id="set-content-state-input" value="/api/ezp/v2/content/objects/17/objectstates" />
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-url-alias" id="create-url-alias">Create an URL Alias for resource:</a>
                    <div id="create-url-alias-loader" class="ajax-loader"></div>
                    <input type="text" id="create-url-alias-input" value="/api/ezp/v2/content/locations/1/2/113" />
                </div>

                <div class="rest-test">
                    <a href="#list-global-aliases" id="list-global-aliases">List global URL Aliases</a>
                    <div id="list-global-aliases-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#list-location-aliases" id="list-location-aliases">List location URL Aliases:</a>
                    <div id="list-location-aliases-loader" class="ajax-loader"></div>
                    <input type="text" id="list-location-aliases-input" value="/api/ezp/v2/content/locations/1/2/113" />
                </div>

                <div class="rest-test">
                    <a href="#load-url-alias" id="load-url-alias">Load URL Alias</a>
                    <div id="load-url-alias-loader" class="ajax-loader"></div>
                    <input type="text" id="load-url-alias-input" value="/api/ezp/v2/content/urlaliases/0-a903c03b86eb2987889afa5fe17004eb" />
                </div>

                <div class="rest-test">
                    <a href="#delete-url-alias" id="delete-url-alias">Delete URL Alias:</a>
                    <div id="delete-url-alias-loader" class="ajax-loader"></div>
                    <input type="text" id="delete-url-alias-input" value="/api/ezp/v2/content/urlaliases/0-a903c03b86eb2987889afa5fe17004eb" />
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-url-wildcard" id="create-url-wildcard">Create an URL Wildcard for resource:</a>
                    <div id="create-url-wildcard-loader" class="ajax-loader"></div>
                    <input type="text" id="create-url-wildcard-input" value="/api/ezp/v2/content/locations/1/2/113" />
                </div>

                <div class="rest-test">
                    <a href="#load-url-wildcards" id="load-url-wildcards">Load URL Wildcards</a>
                    <div id="load-url-wildcards-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-url-wildcard" id="load-url-wildcard">Load URL Wildcard:</a>
                    <div id="load-url-wildcard-loader" class="ajax-loader"></div>
                    <input type="text" id="load-url-wildcard-input" value="/api/ezp/v2/content/urlwildcards/1" />
                </div>

                <div class="rest-test">
                    <a href="#delete-url-wildcard" id="delete-url-wildcard">Delete URL Wildcard:</a>
                    <div id="delete-url-wildcard-loader" class="ajax-loader"></div>
                    <input type="text" id="delete-url-wildcard-input" value="/api/ezp/v2/content/urlwildcards/2" />
                </div>

                <hr/>
                <hr/>
                <hr/>

                <div class="rest-test">
                    <a href="#create-contenttype-group" id="create-contenttype-group">Create Content Type group</a>
                    <div id="create-contenttype-group-loader" class="ajax-loader"></div>
                </div>


                <div class="rest-test">
                    <a href="#load-contenttype-groups" id="load-contenttype-groups">Load Content Type groups</a>
                    <div id="load-contenttype-groups-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-contenttype-group" id="load-contenttype-group">Load Content Type group with id =</a>
                    <input type="text" id="load-contenttype-group-input" value="/api/ezp/v2/content/typegroups/1" />
                    <div id="load-contenttype-group-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-contenttype-group-by-identifier" id="load-contenttype-group-by-identifier">Load Content Type group by Identifier =</a>
                    <input type="text" id="load-contenttype-group-by-identifier-input" value="Media" />
                    <div id="load-contenttype-group-by-identifier-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-contenttype-group" id="update-contenttype-group">Update Content Type group (random data):</a>
                    <input type="text" id="update-contenttype-group-input" value="/api/ezp/v2/content/typegroups/5" />
                    <div id="update-contenttype-group-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delete-contenttype-group" id="delete-contenttype-group">Delete Content Type group</a>
                    <input type="text" id="delete-contenttype-group-input" value="/api/ezp/v2/content/typegroups/18" />
                    <div id="delete-contenttype-group-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-contenttype-group" id="load-content-types">Load Content Types for a group:</a>
                    <input type="text" id="load-content-types-input" value="/api/ezp/v2/content/typegroups/18" />
                    <div id="load-content-types-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-content-type" id="create-content-type">Create Content Type</a>
                    <div id="create-content-type-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#copy-content-type" id="copy-content-type">Copy Content Type</a>
                    <input type="text" id="copy-content-type-input" value="/api/ezp/v2/content/types/18" />
                    <div id="copy-content-type-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-content-type" id="load-content-type">Load Content Type</a>
                    <input type="text" id="load-content-type-input" value="/api/ezp/v2/content/types/18" />
                    <div id="load-content-type-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-content-type-by-identifier" id="load-content-type-by-identifier">Load Content Type by identifier</a>
                    <input type="text" id="load-content-type-by-identifier-input" value="blog_post" />
                    <div id="load-content-type-by-identifier-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delete-content-type" id="delete-content-type">Delete the Content Type:</a>
                    <input type="text" id="delete-content-type-input" value="/api/ezp/v2/content/types/18" />
                    <div id="delete-content-type-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-content-type-groups" id="load-content-type-groups">Load Content Type groups</a>
                    <input type="text" id="load-content-type-groups-input" value="/api/ezp/v2/content/types/18" />
                    <div id="load-content-type-groups-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#assign-content-type-group" id="assign-content-type-group">Assing Content Type to some group</a>
                    <input type="text" id="assign-content-type-group-input" value="/api/ezp/v2/content/types/100" />
                    <div id="assign-content-type-group-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#unassign-content-type-group" id="unassign-content-type-group">Unassign Content Type frome some group</a>
                    <input type="text" id="unassign-content-type-group-input" value="/api/ezp/v2/content/types/101/groups/1" />
                    <div id="unassign-content-type-group-loader" class="ajax-loader"></div>
                </div>


                <hr/>

                <div class="rest-test">
                    <a href="#create-content-type-draft" id="create-content-type-draft">Create draft for the Content Type:</a>
                    <input type="text" id="create-content-type-draft-input" value="/api/ezp/v2/content/types/18" />
                    <div id="create-content-type-draft-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-content-type-draft" id="load-content-type-draft">Load draft for the Content Type:</a>
                    <input type="text" id="load-content-type-draft-input" value="/api/ezp/v2/content/types/18" />
                    <div id="load-content-type-draft-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-content-type-draft" id="update-content-type-draft">Update draft for the Content Type:</a>
                    <input type="text" id="update-content-type-draft-input" value="/api/ezp/v2/content/types/18/draft" />
                    <div id="update-content-type-draft-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#publish-content-type-draft" id="publish-content-type-draft">Publish draft for the Content Type:</a>
                    <input type="text" id="publish-content-type-draft-input" value="/api/ezp/v2/content/types/18/draft" />
                    <div id="publish-content-type-draft-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delete-content-type-draft" id="delete-content-type-draft">Delete draft for the Content Type:</a>
                    <input type="text" id="delete-content-type-draft-input" value="/api/ezp/v2/content/types/18/draft" />
                    <div id="delete-content-type-draft-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#add-field-definition" id="add-field-definition">Add field definition to the draft of the Content Type:</a>
                    <input type="text" id="add-field-definition-input" value="/api/ezp/v2/content/types/18" />
                    <div id="add-field-definition-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-field-definition" id="load-field-definition">Load field definition:</a>
                    <input type="text" id="load-field-definition-input" value="/api/ezp/v2/content/types/42/fieldDefinitions/311" />
                    <div id="load-field-definition-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-field-definition" id="update-field-definition">Update field definition (random data):</a>
                    <input type="text" id="update-field-definition-input" value="/api/ezp/v2/content/types/18/draft/fieldDefinitions/196" />
                    <div id="update-field-definition-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delete-field-definition" id="delete-field-definition">Delete field definition:</a>
                    <input type="text" id="delete-field-definition-input" value="/api/ezp/v2/content/types/18/draft/fieldDefinitions/197" />
                    <div id="delete-field-definition-loader" class="ajax-loader"></div>
                </div>

                <hr/>
                <hr/>
                <hr/>

                <div class="rest-test">
                    <a href="#create-user-group" id="create-user-group">Create user group as a child of:</a>
                    <input type="text" id="create-user-group-input" value="/api/ezp/v2/user/groups/1/5" />
                    <div id="create-user-group-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-user-group" id="update-user-group">Update user group (random data):</a>
                    <input type="text" id="update-user-group-input" value="/api/ezp/v2/user/groups/1/5" />
                    <div id="update-user-group-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-root-user-group" id="load-root-user-group">Load root user group:</a>
                    <div id="load-root-user-group-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-user-group" id="load-user-group">Load user group:</a>
                    <input type="text" id="load-user-group-input" value="/api/ezp/v2/user/groups/1/5" />
                    <div id="load-user-group-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-user-group-by-remoteid" id="load-user-group-by-remoteid">Load user group by remoteId:</a>
                    <input type="text" id="load-user-group-by-remoteid-input" value="f5c88a2209584891056f987fd965b0ba" />
                    <div id="load-user-group-by-remoteid-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delete-user-group" id="delete-user-group">Delete user group:</a>
                    <input type="text" id="delete-user-group-input" value="/api/ezp/v2/user/groups/1/5/119" />
                    <div id="delete-user-group-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#move-user-group" id="move-user-group">Move user group:</a>
                    <input type="text" id="move-user-group-input" value="/api/ezp/v2/user/groups/1/5/119" />
                    <div id="move-user-group-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-sub-user-groups" id="load-sub-user-groups">Load subgroups for the user group:</a>
                    <input type="text" id="load-sub-user-groups-input" value="/api/ezp/v2/user/groups/1/5" />
                    <div id="load-sub-user-groups-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-users-of-user-group" id="load-users-of-user-group">Load users of user group:</a>
                    <input type="text" id="load-users-of-user-group-input" value="/api/ezp/v2/user/groups/1/5" />
                    <div id="load-users-of-user-group-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-user-groups-of-user" id="load-user-groups-of-user">Load user groups for the user:</a>
                    <input type="text" id="load-user-groups-of-user-input" value="/api/ezp/v2/user/users/14" />
                    <div id="load-user-groups-of-user-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-user" id="create-user">Create new user in the group:</a>
                    <input type="text" id="create-user-input" value="/api/ezp/v2/user/groups/1/5" />
                    <div id="create-user-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-user" id="load-user">Load the user:</a>
                    <input type="text" id="load-user-input" value="/api/ezp/v2/user/users/144" />
                    <div id="load-user-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-user" id="update-user">Update the user:</a>
                    <input type="text" id="update-user-input" value="/api/ezp/v2/user/users/145" />
                    <div id="update-user-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delete-user" id="delete-user">Delete the user:</a>
                    <input type="text" id="delete-user-input" value="/api/ezp/v2/user/users/146" />
                    <div id="delete-user-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#assign-user" id="assign-user">Assign the user to a group</a>
                    <input type="text" id="assign-user-input" value="/api/ezp/v2/user/users/146" />
                    <div id="assign-user-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#unassign-user" id="unassign-user">Unassign the user from a group</a>
                    <input type="text" id="unassign-user-input" value="/api/ezp/v2/user/users/146/groups/1" />
                    <div id="unassign-user-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-role" id="create-role">Create new role</a>
                    <div id="create-role-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-role" id="load-role">Load the role:</a>
                    <input type="text" id="load-role-input" value="/api/ezp/v2/user/roles/5" />
                    <div id="load-role-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-roles" id="load-roles">Load roles:</a>
                    <input type="text" id="load-roles-input" value="" />
                    <div id="load-roles-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-role" id="update-role">Update the role:</a>
                    <input type="text" id="update-role-input" value="/api/ezp/v2/user/roles/5" />
                    <div id="update-role-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delete-role" id="delete-role">Delete the role:</a>
                    <input type="text" id="delete-role-input" value="/api/ezp/v2/user/roles/5" />
                    <div id="delete-role-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#get-user-assignments" id="get-user-assignments">Get user's roles assignments:</a>
                    <input type="text" id="get-user-assignments-input" value="/api/ezp/v2/user/users/110" />
                    <div id="get-user-assignments-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#get-user-group-assignments" id="get-user-group-assignments">Get user group's roles assignments:</a>
                    <input type="text" id="get-user-group-assignments-input" value="/api/ezp/v2/user/groups/1/5/110" />
                    <div id="get-user-group-assignments-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#get-role-assignments" id="get-role-assignments">Get role's assignments:</a>
                    <input type="text" id="get-role-assignments-input" value="/api/ezp/v2/user/roles/7" />
                    <div id="get-role-assignments-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#get-user-assignment-object" id="get-user-assignment-object">Get roleassignment object for the user</a>
                    <input type="text" id="get-user-assignment-object-input" value="/api/ezp/v2/user/13/roles/7" />
                    <div id="get-user-assignment-object-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#get-user-group-assignment-object" id="get-user-group-assignment-object">Get roleassignment object for the user group:</a>
                    <input type="text" id="get-user-group-assignment-object-input" value="/api/ezp/v2/user/groups/1/5/110/roles/7" />
                    <div id="get-user-group-assignment-object-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#assign-role-to-user" id="assign-role-to-user">Assign role to user:</a>
                    <input type="text" id="assign-role-to-user-input" value="/api/ezp/v2/user/users/110" />
                    <div id="assign-role-to-user-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#assign-role-to-user-group" id="assign-role-to-user-group">Assign role to user group:</a>
                    <input type="text" id="assign-role-to-user-group-input" value="/api/ezp/v2/user/groups/1/5/110" />
                    <div id="assign-role-to-user-group-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#unassign-role-from-user" id="unassign-role-from-user">Unassign the role from user:</a>
                    <input type="text" id="unassign-role-from-user-input" value="/api/ezp/v2/user/users/110/roles/7" />
                    <div id="unassign-role-from-user-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#unassign-role-from-user-group" id="unassign-role-from-user-group">Unassign the role from user group:</a>
                    <input type="text" id="unassign-role-from-user-group-input" value="/api/ezp/v2/user/groups/1/5/110/roles/7" />
                    <div id="unassign-role-from-user-group-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-policy" id="create-policy">Add new policy to the role</a>
                    <input type="text" id="create-policy-input" value="/api/ezp/v2/user/roles/7" />
                    <div id="create-policy-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-policies" id="load-policies">Load policies of the role:</a>
                    <input type="text" id="load-policies-input" value="/api/ezp/v2/user/roles/7" />
                    <div id="load-policies-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-policy" id="load-policy">Load the policy:</a>
                    <input type="text" id="load-policy-input" value="/api/ezp/v2/user/roles/7/policies/1" />
                    <div id="load-policy-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#update-policy" id="update-policy">Update the policy:</a>
                    <input type="text" id="update-policy-input" value="/api/ezp/v2/user/roles/7/policies/1" />
                    <div id="update-policy-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delete-policy" id="delete-policy">Delete the policy:</a>
                    <input type="text" id="delete-policy-input" value="/api/ezp/v2/user/roles/7/policies/1" />
                    <div id="delete-policy-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#load-user-policies" id="load-user-policies">Load list of policies for the user with id:</a>
                    <input type="text" id="load-user-policies-input" value="110" />
                    <div id="load-user-policies-loader" class="ajax-loader"></div>
                </div>

                <hr/>

                <div class="rest-test">
                    <a href="#create-session" id="create-session">Create session (use with caution - interfers with native session authorization)</a>
                    <div id="create-session-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#delete-session" id="delete-session">Delete the session (without actual client log out):</a>
                    <input type="text" id="delete-session-input" value="/api/ezp/v2/user/sessions/o7i8r1sapfc9r84ae53bgq8gp4" />
                    <div id="delete-session-loader" class="ajax-loader"></div>
                </div>

                <div class="rest-test">
                    <a href="#log-out" id="log-out">Log out:</a>
                    <div id="log-out-loader" class="ajax-loader"></div>
                </div>


            </div>
        </div>
        <div class="yui3-u-1-2">
            <div class="content">
                <div class="content-inner">

                    <strong>Client output:</strong>
                    <br/><hr/>

                    <div id="output"></div>

                </div>
            </div>
        </div>
    </div>
</div>



{% javascripts
    '@jsRestClientBundle/Resources/public/js/CAPI.js'

    '@jsRestClientBundle/Resources/public/js/cookbook-CAPI-ContentService.js'
    '@jsRestClientBundle/Resources/public/js/cookbook-CAPI-ContentTypeService.js'
    '@jsRestClientBundle/Resources/public/js/cookbook-CAPI-UserService.js'


%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            